<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2 class="neon-text">Dashboard</h2>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        {% if success %}
            <p class="success">Se han enviado {{ followers_option }} seguidores a {{ tiktok_username }}.</p>
        {% endif %}
        <form action="{{ url_for('dashboard') }}" method="post" class="dashboard-form">
            <label for="tiktok_username">TikTok Username:</label>
            <input type="text" name="tiktok_username" id="tiktok_username" required><br>
            <label for="followers_option">Cantidad de Seguidores:</label>
            <input type="number" name="followers_option" id="followers_option" required><br>
            <input type="submit" value="Enviar Seguidores" class="neon-button">
        </form>
        <br>
        <a href="{{ url_for('logout') }}" class="neon-button">Logout</a>
    </div>
</body>
</html>

